@charset "utf-8";
@import url("TrajanProRegular/stylesheet.css");

/* Captions Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}
/* Bottom left text */
.bottom-left {
	position: absolute;
	bottom: 8px;
	left: 8px;
	text-shadow: 0px 0px;
	font-size: medium;
	font-style: italic;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 8px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 8px;
}

/* Bottom right text */
.bottom-right {
	position: absolute;
	bottom: 8px;
	right: 8px;
	font-size: x-small;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Global Styles */

body {
	margin-left: auto;
	margin-right: auto;
	width: 92%;
	max-width: 960px;
	padding-left: 2.275%;
	padding-right: 2.275%;
	background-color: rgba(0,0,0,1.00);
	color: rgba(255,255,255,1.00);
	text-align: justify;
}
/* Header */
header {
	text-align: center;
	display: block;
	color: rgba(255,255,255,1.00);
}
header .profileLogo .logoPlaceholder {
	background-color: rgba(208,207,207,1.00);
	width: 187px;
	text-align: center;
}
header .logoPlaceholder span {
	width: 80px;
	height: 22px;
	font-family: 'Montserrat', sans-serif;
	color: rgba(255,255,255,1.00);
	font-size: 30px;
	font-weight: 700;
	line-height: 53px;
}
header .profilePhoto {
	background-color: rgba(237,237,237,1.00);
	width: 259px;
	border-radius: 50%;
	height: 259px;
	clear: both;
}
header .profileHeader h1 {
	font-family: TrajanProRegular;
	color: rgba(224,51,54,1.00);
	font-size: 30px;
	text-align: left;
	line-height: 40px;
	font-style: normal;
	font-weight: lighter;
}
header .profileHeader h3 {
	font-family: sans-serif;
	color: rgba(9,122,241,1.00);
	font-size: 15px;
	font-weight: 400;
	line-height: 23px;
	text-align: left;
}
hr {
	background-color: rgba(208,207,207,1.00);
	height: 1px;
}
header .profileHeader p {
	font-family: sans-serif;
	color: rgba(255,255,255,1.00);
	line-height: 1.8;
	overflow-y: auto;
	text-align: justify;
	font-size: 1em;
}
header .socialNetworkNavBar {
	text-align: center;
	display: block;
	margin-top: 60px;
	clear: both;
}
header .socialNetworkNavBar .socialNetworkNav {
	border-radius: 50%;
	cursor: pointer;
}
header .socialNetworkNavBar .socialNetworkNav img:hover {
	opacity: 0.5;
}
/* Main Content sections */
.mainContent .section1 {
	display: block;
	text-align: right;
	color: rgba(255,255,255,1.00);
}
.section1 .sectionTitle, .section2 .sectionTitle {
	font-family: 'Montserrat', sans-serif;
	color: rgba(255,255,255,1.00);
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: left;
}
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	margin: 0 3% 0 0;
	float: left;
	clear: both;
}
.section1 .sectionTitleRule2, .section2 .sectionTitleRule2 {
	background-color: rgba(208,207,207,1.00);
	height: 1px;
	padding: 0px;
}
.mainContent .section1 .section1Content {
	font-family: ProximaNova;
	font-size: 14px;
	font-weight: 100;
	color: rgba(255,255,255,1.00);
	text-align: left;
}
.mainContent .section1 .section1Content span {
	color: rgba(255,255,255,1.00);
	font-family: sans-serif;
}
.section2 .sectionContentTitle {
	font-family: sans-serif;
	color: rgba(255,252,252,1.00);
	font-size: 18px;
	font-weight: 700;
	text-align:left;
}
.section2 .sectionContentSubTitle {
	font-family: sans-serif;
	color: rgba(68,67,67,1.00);
	font-size: 14px;
	font-weight: 400;
}
.section2 .sectionContent {
	font-family: sans-serif;
	color: rgba(255,255,255,1.00);
	line-height: 1.7;
	font-size: 1em;
}
.mainContent {
	display: block;
}
.mainContent .externalResourcesNav .externalResources {
	background-color: rgba(208,207,207,1.00);
	display: inline-block;
	text-align: center;
	margin-top: 0px;
	padding-top: 3%;
	cursor: pointer;
}
.mainContent .externalResourcesNav .externalResources:hover {
	background-color: rgba(153,153,153,1.00);
}
.externalResourcesNav .externalResources a {
	font-family: 'Montserrat', sans-serif;
	color: rgba(255,255,255,1.00);
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-decoration: none;
}
.stretch {
	content: '';
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
}
/* Footer */
footer .footerDisclaimer {
	font-family: sans-serif;
	line-height: 18px;
	font-weight: 700;
	font-size: small;
}
footer .footerDisclaimer span {

}
footer .footerNote {
	font-family: sans-serif;
	line-height: 1.7;
	font-size: small;
	font-weight: 700;
}
footer .footerNote span {
	color: rgba(181,178,178,1.00);
	font-weight: 400;
}

/* Media query for Mobile devices*/
@media only screen and (min-width : 285px) and (max-width : 480px) {

/* Bottom left text */
.bottom-left {
	position: absolute;
	bottom: 8px;
	left: 8px;
	text-shadow: 0px 0px;
	font-size: small;
	font-style: italic;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}
/* Header */
header {
	width: 100%;
	float: none;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-top: 20px;
}
header .profileLogo .logoPlaceholder {
	display: inline-block;
}
header .profilePhoto {
	display: inline-block;
}
header .profileHeader {
	margin-top: 0%;
}
header .profileHeader p {
	text-align: justify;
	font-size: 1em;
	line-height: 1.8;
}
header .profileHeader H1 {
	text-align: center;
	line-height: 40px;
}
header .profileHeader H3 {
	text-align: center;	
}

header .socialNetworkNavBar {
	text-align: center;
	display: block;
	margin-top: 60px;
	clear: both;
	margin-bottom: 15%;
}
header .socialNetworkNavBar .socialNetworkNav {
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-right: 23px;
}
/* Main content sections */
.mainContent .section1 {


}
.section1 .section1Title, .section2 .section1Title {
	text-align: center;
}
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	width: 100%;
}
.section1 .sectionTitleRule2, .section2 .sectionTitleRule2 {
	display: none;
}
.mainContent .section1 .section1Content {
	display: block;
	text-align: right;
	font-family: sans-serif;
	margin-top: 21px;
}
.mainContent .section2 {
	display: block;
	text-align: center;
}
.section2 .section2Content {
	margin-top: 10%;
	text-align: justify;
	margin-bottom: 6%;
}
.mainContent .externalResourcesNav {
	margin-bottom: 10%;
}
.mainContent .externalResourcesNav .externalResources {
	width: 100%;
	height: 35px;
}
/* Footer */
footer {
	display: block;
	text-align: center;
	font-family: sans-serif;
	text-shadow: 0px 0px rgba(255,255,255,1.00);
}
.contactuspic {
	max-width: 100%;
	clear: both;
	padding-bottom: 10px;
	padding-top: 10px;
}

}

/* Media Query for Tablets */
@media only screen and (min-width : 481px) and (max-width : 1024px) {

/* Header */
header {
	width: 100%;
	float: none;
	color: rgba(255,255,255,1.00);
	margin-top: 70px;
	margin-bottom: 46px;
}
header .profileLogo .logoPlaceholder {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
}
header .profilePhoto {
	clear: both;
	margin-right: 3%;
	float: left;
}
header .profileHeader {
	text-align: justify;
}
header .socialNetworkNavBar .socialNetworkNav {
	width: 74px;
	height: 74px;
	display: inline-block;
	margin-right: 23px;
}
/* Main content and sections */
.section1 .section1Title, .section2 .section1Title {
	text-align: center;
}
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	width: 100%;
}
.section1 .sectionTitleRule2, .section2 .sectionTitleRule2 {
	display: none;
}
.mainContent .section1 .section1Content {
	display: block;
	margin-top: 5%;
	margin-right: -5%;
	margin-left: 15%;
	margin-bottom: 5%;
	font-family: sans-serif;
	color: rgba(255,255,255,1.00);
	text-align: right;
}
.mainContent .section2 {
	clear: both;
	color: rgba(255,255,255,1.00);
}
.section2 .section2Content {
	padding: 0px;
	margin-left: 20%;
	font-family: sans-serif;
	margin-top: 5%;
	margin-bottom: 3%;
}
.mainContent .externalResourcesNav {
	margin-left: 20%;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	padding-top: 0px;
	clear: both;
}
.mainContent .externalResourcesNav .externalResources {
	width: 199px;
	height: 48px;
	margin-top: 5%;
}
/* Footer */
footer .footerDisclaimer {
	float: left;
	font-family: sans-serif;
	font-weight: 700;
	line-height: 1.7;
	font-size: small;
}
footer .footerNote {
	float: right;
	font-family: sans-serif;
	line-height: 1.7;
	font-size: small;
	font-weight: 700;
}
.contactuspic {
	padding-bottom: 20px;
	clear: both;
	max-width: 400px;
	padding-top: 10px;
	float: left;
}
.bizmeeting {
	max-width: 719px;
}
.conversation {
	max-width: 400px;
	float: left;
	padding-right: 10px;
}
.footerRight {
	text-align: right;
}


}

/* Desktops and laptops  */
@media only screen and (min-width:1025px) {

/* Header */

header {
	width: 100%;
	float: none;
	color: rgba(255,255,255,1.00);
	margin-top: 70px;
	margin-bottom: 46px;
}

header .profileLogo .logoPlaceholder {
	float: left;
	margin-bottom: 50px;
}
header .profilePhoto {
	float: left;
	clear: both;
	margin-right: 3%;
}
header .profileHeader {
	text-align: left;
	padding-bottom: 20px;
}
header .socialNetworkNavBar .socialNetworkNav {
	width: 74px;
	height: 74px;
	display: inline-block;
	margin-right: 23px;
}
/* Main content sections */
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	width: 22%;
}
.mainContent .section1 .section1Content {
	display: block;
	margin-top:5%;
	margin-left: 21%;
	font-family: sans-serif;
	text-align: right;
	padding-bottom: 10px;
	padding-right: 0px;
	padding-left: 0px;
	margin-right: -40px;
}
.mainContent .section2 {
	clear: both;
}
.section2 .section2Content {
	padding: 0px;
	margin-left: 26%;
	margin-bottom: 2%;
	font-family: sans-serif;
	text-align: justify;
}
.mainContent .externalResourcesNav {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	padding-top: 0px;
	clear: both;
}
.mainContent .externalResourcesNav .externalResources {
	width: 199px;
	height: 48px;
}
/* Footer */
footer .footerDisclaimer {
	float: left;
	font-family: sans-serif;
	font-weight: 700;
	line-height: 1.7;
	font-size: small;
}
footer .footerNote {
	float: right;
	font-family: sans-serif;
	line-height: 1.7;
	font-size: small;
	font-weight: 700;
}

.bizmeeting {
	max-width: 900px;
}
.conversation {
	max-width: 719px;
}
.sectioncontent {
}
.footerRight {
	text-align: right;
}
.footerRight {
	text-align: right;
}



}
